<div class="demo pdt88">
	<w-header title="angularjs webpack" hide-back="true"></w-header>
	<w-button text="go to button page" ui-sref="button"></w-button>
	<br>
	<w-button text="toast" ng-click="toast()"></w-button>
	<br>
	<w-button text="carousel" ui-sref="carousel"></w-button>
	<br>
	<w-button text="sortable list" ui-sref="sortableList"></w-button>
	<br>
	<w-button text="swiper" ui-sref="swiper"></w-button>
	<br>
	<w-button text="drag image" ui-sref="dragImage"></w-button>
	<br>
	<w-button text="loading" ui-sref="loading"></w-button>
	<br>
	<w-button text="{{153000000 | num2str}}"></w-button>
	<w-button text="{{13400 | num2str}}"></w-button>
	<br>
	<w-button text="modal" ui-sref="modal"></w-button>
	<br>
	<w-button text="http" ng-click="sendRequest()"></w-button>
</div>