<div class="buttonPage pdt88">
	<w-header title="button"></w-header>
	<w-button text="normal button"></w-button>
	<w-button disabled="true" text="normal button"></w-button>

	<br>

	<w-button size="wBtn_sm" text="small button"></w-button>
	<w-button disabled="true" size="wBtn_sm" text="small button"></w-button>

	<br>
	
	<w-button size="wBtn_md" text="middle button"></w-button>
	<w-button disabled="true" size="wBtn_md" text="middle button"></w-button>
	
	<br>
	
	<w-button type="wBtn_border" text="border button"></w-button>

	<br>
	
	<w-button type="wBtn_text" text="text button"></w-button>

	<w-button size="wBtn_lg" text="large button"></w-button>

</div>