<div class="demo">
	<w-button text="normal button"></w-button>
	<w-button disabled="true" text="normal button"></w-button>

	<br>

	<w-button size="wbtn_sm" text="small button"></w-button>
	<w-button disabled="true" size="wbtn_sm" text="small button"></w-button>

	<br>
	
	<w-button size="wbtn_md" text="middle button"></w-button>
	<w-button disabled="true" size="wbtn_md" text="middle button"></w-button>
	
	<br>
	
	<w-button type="wbtn_border" text="border button"></w-button>

	<br>
	
	<w-button type="wbtn_text" text="text button"></w-button>

	<w-button size="wbtn_lg" text="large button"></w-button>

</div>